/********* GENERAL *********/

body {
  font-family: 'Work Sans';
  background-color: #E7E6E4;
  font-weight: 300;
  font-size: .9rem;
  color: black;
}

/********* FOOTER *********/

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer p {
  margin-bottom: .25rem;
}

/********* MENU CUSTOMIZATION *********/

.index-link a{
  color: white;
  transition: all .3s ease;
}

.index-link a:hover{
  text-decoration: none;
  color: rgb(180, 130, 255) !important;
  transition: all .3s ease;
}

.logo {
  height: 80px;
  width: 80px;
  padding-bottom: 20px;
  background-image: url(../img/tgif-logo.svg);
  background-size: 80px 80px;
  transition: all .3s ease;
 }

 .logo:hover {
  background-image: url(../img/tgif-logo-hover.svg);
  background-size: auto;
  transition: all .3s ease;
 }
 
.bg-black {
  background-color: black;
}

.dropdown-menu a {
  color: black !important;
}

.nav-item a {
  color: white !important;
}

.nav-item a:hover {
  color: rgb(180, 130, 255) !important;
  transition: ease-in-out color .2s;
  text-decoration: none;
}

.dropdown-menu a:hover {
  color: black !important;
  transition: ease-in-out color .15s;
  text-decoration: none;
}

.nav-link {
  padding: 0px;
  margin-left: 1.5rem;
}

.nav-item .active {
  border-bottom: 1px solid white;
  transition: ease-in-out color .15s;
}

.nav-item .active:hover {
  border-bottom: 1px solid rgb(180, 130, 255);
  transition: ease-in-out color .15s;
}

.dropdown-menu {
  margin-left: 1.5rem;
}

.navbar {
  padding: 0px;
}

/********* MENU DROPDOWN TWEAKS *********/

.dropdown-menu.show {
  background-color: transparent;
  margin-top: 0px;
  padding-top: 0px;
}

.dropdown-item {
  border: 1px solid white;
  margin-top: 14px;
  border-radius: 20px;
  padding: 8px 18px;
}

.dropdown-item:hover {
  color: black !important;
  background-color:  rgb(180, 130, 255);
  border-color: rgb(180, 130, 255);
}

.dropdown-menu {
  margin-left: 0.5rem;
}

/********* HOME READ MORE BUTTON *********/

.btn-tgif {
  border-radius: 40px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-tgif:hover {
  background-color: rgb(180, 130, 255);
}

/********* TABLE CUSTOMIZATION *********/

.thead-black {
  background-color: black;
  color: #E7E6E4;
}

.table-hover tbody tr:hover{
  background-color: rgb(180, 130, 255);
} 

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover + tr td{
  border-top-color: transparent;
} 

.table td {
  border-top-color: black;
}

td a {
  color: black;
}

td a:hover {
  color: black;
}

th:first-child {
  border-radius: 40px 0px 0px 40px;
}

th:last-child {
  border-radius: 0px 40px 40px 0px;
}

tbody td:first-child, thead th:first-child{
  padding-left: 20px;
}

tbody td:first-child {
  border-radius: 40px 0px 0px 40px;
}

tbody td:last-child {
  border-radius: 0px 40px 40px 0px;
}

.table thead th {
  border: 0px;
}

.table tr:first-child td {
  border-top: 0px;
}

.table tr:last-child td {
  border-bottom: 1px solid black;
}

.table tbody+tbody {
  border-top: 0px;
}

/********* TABLE LINK ARROW *********/

.lni-arrow-top-right {
  font-weight: 700;
  font-size: 8px;
}

/********* TABLE FILTERS *********/

.filters-row {
  border: 1px solid black;
  border-radius: 40px;
  padding: .5rem;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}

.inline-flex {
  display: inline-flex;
  margin-bottom: 0px;
  padding-left: .5rem;
}

.form-control-sm {
  background-color: transparent;
  border-radius: 10px;
  border: solid black 1px;
}

/********* TABLE LOADER *********/

.table-loader {
  border: 5px solid transparent; /* Light grey */
  border-top: 5px black solid; /* Blue */
  border-bottom: 5px black solid; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.table-parent {
  height: 200px;
}

.d-none-imp {
  display: none !important;
}

.table-title {
  margin-top: 50px;
  margin-bottom: 30px;
}

/********* BACK TO TOP BUTTON *********/

#myBtn {
  visibility: hidden;
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 40px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 20px; /* Some padding */
  border-radius: 100%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  
  transition: visibility 0s, opacity 0.5s linear

  width: 60px;
  height: 60px;
}

#myBtn:hover {
  background-color: rgb(180, 130, 255); /* Add a dark-grey background on hover */
}

/********* INTRO HEADER HOME *********/

#index-header {
  height: 100vh;
	background: linear-gradient(-45deg, black, rgb(180, 130, 255), white);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header .col-5, header .col-7 {
  padding-left: 0px;
  padding-right: 0px;
}

/********* VARIOUS *********/

main {
  min-height: calc(100vh - 320px);
}

p {
  margin-bottom: 0px;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.5rem;
}

.pt-100 {
  padding-top: 100px !important;
}

#home h2 {
  font-size: 4.8rem;
}

.top-line {
  border-top: black solid 1px;
  padding-top: 20px;
}

.bottom-line {
  border-bottom: black solid 1px;
  padding-bottom: 20px;
}

/********* SHOW TABLES - ATT & LOY LOADER  *********/

.hide-tables {
  display: none;
}

.show-table {
  display: block;
}

/********* MOBILE MENU  *********/

.navbar-toggler {
  background-color: white;
}



/********* BREAKPOINTS  *********/

@media (min-width: 720px){
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .logo {
    height: 130px;
    width: 130px;
    padding-bottom: 10px;
    background-size: 130px 130px;

  }
}

@media (min-width: 1200px){
.container-fluid {
    max-width: 1600px;
}
}