/*
 * Custom translucent site header
 */

 body {
  font-family: 'Work Sans';
  background-color: #E7E6E4;
  font-weight: 300;
}

/*
 * Marc's CSS
 */

.closed-div {
  display: none;
}

.open-div {
  display: block;
  transition: ease-in-out color .15s;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer p {
  margin-bottom: .25rem;
}

.logo {
 height: 130px;
 padding-bottom: 10px;
}

.bg-black {
  background-color: black;
}

.dropdown-menu a {
  color: black !important;
}

.nav-item a {
  color: white;
}

.nav-item a:hover {
  color: rgb(185, 185, 185);
  transition: ease-in-out color .15s;
  text-decoration: none;
}

.dropdown-item a:hover {
  color: rgb(185, 185, 185);
  transition: ease-in-out color .15s;
  text-decoration: none;
}

h2 {
  font-size: 3.2rem;
}

.top-line {
  border-top: black solid 1px;
  padding-top: 20px;
}

.bottom-line {
  border-bottom: black solid 1px;
  padding-bottom: 20px;
}

.nav-link {
  padding: 0px;
  margin-left: 1.5rem;
}

.nav-item .active {
  border-bottom: 1px solid white;
}

.dropdown-menu {
  margin-left: 1.5rem;
}

.thead-black {
  background-color: black;
  color: #E7E6E4;
}

.table-hover tbody tr:hover{
  background-color: rgb(180, 130, 255);
} 

.table td {
  border-top-color: black;
}

.navbar {
  padding: 0px;
}

td a {
  color: black;
}

td a:hover {
  color: black;
}

th:first-child {
  border-radius: 40px 0px 0px 40px;
}

th:last-child {
  border-radius: 0px 40px 40px 0px;
}

tbody td:first-child, thead th:first-child{
  padding-left: 20px;
}

tbody td:first-child {
  border-radius: 40px 0px 0px 40px;
}

tbody td:last-child {
  border-radius: 0px 40px 40px 0px;
}

.table thead th {
  border: 0px;
}

.table tr:first-child td {
  border-top: 0px;
}

.table tbody+tbody {
  border-top: 0px;
}

.btn-tgif {
  border-radius: 40px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-tgif:hover {
  background-color: rgb(180, 130, 255);
}

.filters-row {
  border: 1px solid black;
  border-radius: 40px;
  padding: .5rem;
  margin-bottom: 40px;
}

.inline-flex {
  display: inline-flex;
  margin-bottom: 0px;
  padding-left: .5rem;
}